// Responsive Styling:

@media (max-width: 1585px) {

  // Lavender
  .lavender-left {

      .par-top {
        font-size: 2em;
        color: @darkest-font-color;
        font-weight: 600;
        line-height: 1.2em;
      }

      .par-middle {
        font-size: 1.7em;
        color: @darkest-font-color;
        line-height: 1.3em;
      }

      .btn-1 {
        width: 7em;
        height: 2em;
        margin-top: 2.5em;
      }
  }

  .merc {
    max-width: 60%;
    margin-top: 16em;
  }

  // Main white
  .white-right {

      .par-top-w {
        font-size: 2em;
        color: @darkest-font-color;
        font-weight: 600;
        line-height: 1.2em;
      }

      .par-middle-w {
        font-size: 1.7em;
        color: @darkest-font-color;
        line-height: 1.2em;
      }

      .btn-w {
        width: 7em;
        height: 2em;
        margin-top: 2.5em;
      }
  }

  .white-left {

    .zalando {
      max-width: 60%;
      margin-top: 16em;
    }
  }

  // Main white
  .yellow-left {

      .par-top-y {
        font-size: 2em;
        color: @darkest-font-color;
        font-weight: 600;
        line-height: 1.2em;
      }

      .par-middle-y {
        font-size: 1.7em;
        color: @darkest-font-color;
        line-height: 1.2em;
      }

      .btn-1-y {
        width: 7em;
        height: 2em;
        margin-top: 2.5em;
      }
  }

  .yellow-right {

    .zalando {
      max-width: 60%;
      margin-top: 16em;
    }
  }

} // Querie End.


@media (max-width: 1234px) {

   
}
