// Apply to all elements:
* {
  padding: 0;
  margin: 0;
}

// Imports:
@import "media_queries.less";

// Color Variables:
@main-font-grey: #8e8e8e;
@darkest-font-color: #101010;
@charcol-color: #3F3F3F;
@mine-shaft: #333333;
@lavender-bg: #e4e9f8;
@productivity-bg: #FBE8DA;
@yellow-bg: #faf8d9;
@concrete-bg: #F2F2F2;
@project-request-bg: #c5c2f0;
@our-services-bg: #dbdbdb;
@footer-bg: #101010;

// Font Variables:
@main-font: 'Open Sans', sans-serif;
@main-font-size: 100%;

// Page Dimensions Variables:
@container-width: 95%;

// Mixins:
.no-decor {
  text-decoration: none;
  list-style: none;
}

.clear-fix {
  clear: both;
}

.white {
  color: white;
  font-size: 1em;
}

.gradient-lav {
  background-color: @lavender-bg;
  background-image: linear-gradient(to bottom, @lavender-bg 20%, #ffffff);
}

.gradient-orange {
  background-color: @productivity-bg;
  background-image: linear-gradient(to top, @productivity-bg 40%, #ffffff);
}

.gradient-yellow {
  background-color: @yellow-bg;
  background-image: linear-gradient(to bottom, @productivity-bg, @yellow-bg 40%, #ffffff);
}

.gradient-concrete {
  background-color: @concrete-bg;
  background-image: linear-gradient(to bottom, @concrete-bg 40%, #ffffff);
}

.gradient-above-footer {
  background-color: @project-request-bg;
  background-image: linear-gradient(to right, @project-request-bg 28%, #BFD0F0);
}


// Page Body Styles:
body {
  font-family: @main-font;
  font-size: @main-font-size;
}

.container {
   width: @container-width;
}


// HEADER:
.header {
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 100;
    padding: 0 5em;
}

.header-left {
  // width: 40%;
}

.header-right {
  // width: 60%;
}

.header-logo {
    max-width: 25%;
    float: left;
    padding: 3em 0 3em 0;
}

.nav-wrap {
  float: right;
  margin-right: 1em;
}

.header-nav li {
   float: left;
   padding: 3em  0 3em 0;
   margin-left: 3em;
   .no-decor;

   a {
     font-size: 1.4em;
     color: @main-font-grey;
     font-weight: 600;
     .no-decor;
   }

   a:hover {
     color: @charcol-color;
     font-weight: 600;
   }
}


// SCROLL FIX
.scroll-fix {
  position: fixed;
  width: 100%;
  height: 3em;
}


// SUB HEADER:
.sub-header {
  width: 100%;
}


.digital-experience {
  width: 100%;
  padding-top: 20em;

  p {
    text-align: center;
    color: @darkest-font-color;
    font-size: 7em;
  }
}

.agency-for-digital {
  width: 100%;
  padding-top: 6em;

  p {
    text-align: center;
    color: @main-font-grey;
    font-size: 2.4em;
  }
}

.arrow-down {
   text-align: center;
   color: @main-font-grey;
   font-size: 2em;
   padding-top: 5em;
   margin-bottom: 10em;
}

// MAIN LAVANDER:
.main-lavender {
    width: 100%;
    height: 100em;
    margin-top: 15em;
    .gradient-lav;
    overflow: hidden;
}

.lavender-left {
    padding: 16em 5em 10em 22em;
}

.lavander-right {
   width:  ;
}

.par-top {
   font-size: 4em;
   color: @darkest-font-color;
   font-weight: 600;
   line-height: 1.5em;
}

.par-middle {
  font-size: 2em;
  color: @darkest-font-color;
  line-height: 2em;
}

.btn-1 {
  width: 8em;
  height: 3em;
  margin-top: 3em;
}

.merc {
  max-width: 100%;
  margin-top: 16em;
}


// MAIN WHITE:
.main-white {
  width: 100%;
  height: 100em;
  margin-top: 0;
  .gradient-orange;
  overflow: hidden;
}

.white-left {
  margin-top: 25em;

  .zalando {
    max-width: 100%;
  }
}

.white-right {
  padding: 25em 28em 0 0;
}

.par-top-w {
   font-size: 4em;
   color: @darkest-font-color;
   font-weight: 600;
   line-height: 1.5em;
}

.par-middle-w {
  font-size: 2em;
  color: @darkest-font-color;
  line-height: 2em;
}

.btn-w {
  width: 8em;
  height: 3em;
  margin-top: 3em;
}


// MAIN YELLOW:
.main-yellow {
  width: 100%;
  height: 100em;
  margin-top: 0;
  .gradient-yellow;
  overflow: hidden;
}

.yellow-left {
   padding: 25em 8em 0 15em;
}

.yellow-right {
   margin-top: 25em;

   .bike {
     max-width: 100%;
   }
}

.par-top-y {
   font-size: 4em;
   color: @darkest-font-color;
   font-weight: 600;
   line-height: 1.5em;
}

.par-middle-y {
  font-size: 2em;
  color: @darkest-font-color;
  line-height: 2em;
}

.btn-1-y {
  width: 8em;
  height: 3em;
  margin-top: 3em;
}

// PERSPECTIVE:
.perspective {
   width: 100%;
   overflow: hidden;
   background-color: white;
   text-align: center;
   margin-top: 15em;

   p {
     font-size: 2em;
     color: @main-font-grey;
     line-height: 2em;
     letter-spacing: ;
   }
}


// DIGITAL BRAND:
.digital-brand {
   margin-top: 35em;
   width: 100%;
   height: auto;
   .gradient-concrete;
   overflow: hidden;
}

.digital-brand-left {
   padding: 15em 0 0 26em;
}

.digital-brand-right {
   padding: 15em 0 0 30em;
}

.digital-brand-bottom {
  text-align: center;

  .devices {
    max-width: 100%;
  }
}

.par-top-digital {
  font-size: 4em;
  color: @charcol-color;
  font-weight: 600;
  line-height: 1.5em;
}

.par-middle-digital {
  font-size: 1.3em;
  color: @main-font-grey;
  line-height: 2em;
}

.btn-1-digital {
  width: 8em;
  height: 3em;
  margin-top: 3em;
}

.statement {
  font-size: 1.6em;
  line-height: 2.2em;
  width: 70%;
  color: @main-font-grey;
}

// TESTIMONIAL:
.testimonial {
  margin-top: 0;
  width: 100%;
  height: 60em;
  background-color: @concrete-bg;
  overflow: hidden;
}

.test-content {
  padding: 15em 0 0 15em;

  i {
    color: @charcol-color;
    font-size: 2.3em;
  }

  .test-p-1 {
    margin-top: 2em;
    font-size: 1.7em;
    line-height: 2em;
    color: @main-font-grey;
    width: 80%;
  }

  .sascha-martin {
    margin-top: 2em;
    border-radius: 6em;
    max-width: 100%;
    width: 5em;
    height: 5em;
  }

  .sasha {
    margin-top: 2em;
    color: @charcol-color;
    font-size: 1.7em;
  }

  .sasha-does {
    margin-top: 2em;
    color: @charcol-color;
    font-size: 1.2em;
    }

}


// PROUD TO WORK:
.proud-to-work {
   width: 100%;
   text-align: center;
   margin-top: 15em;
   background-color: white;
   overflow: hidden;
   padding-bottom: 7em;

   p {
     font-size: 2em;
     color: @main-font-grey;
   }
}


// COMPANIES:
.companies {

   .company-row {
     margin-top: 8em;
     text-align: center;
   }

   .comp-img {
     max-width: 18%;
   }
}


// ABOVE FOOTER:
.above-footer {
   margin-top: 19em;

   .project-request {
       padding: 4em 0 0 20em;
       .gradient-above-footer;
       width: 50%;
       height: 30em;

       h3 {
         color: white;
         font-size: 3em;
       }

       p {
         color: white;
         font-size: 1.5em;
         line-height: 2em;
         margin-top: 2em;
       }

       .btn-2 {
         width: 7em;
         height: 2.2em;
         margin-top: 2em;
       }
   }

   .our-services {
       padding: 4em 0 0 20em;
       background-color: @our-services-bg;
       width: 50%;
       height: 30em;

       h3 {
         color: @charcol-color;
         font-size: 3em;
       }

       p {
         color: @charcol-color;
         font-size: 1.5em;
         line-height: 2em;
         margin-top: 2em;
       }

       .btn-2 {
         width: 7em;
         height: 2.2em;
         margin-top: 2em;
       }
   }
}


// FOOTER:
.footer {
  width: 100%;
  height: auto;
  background-color: @footer-bg;
  overflow: hidden;

  .footer-row-1 {
     padding: 10em 0 0 18em;
     width: 33%;

     h3 {
       color: white;
       font-size: 3em;
       padding-bottom: 0.5em;
     }

     .agency {
       color: white;
       font-size: 1.3em;
       font-weight: 500;
       margin-bottom: 6em;
     }

     p {
       color: @mine-shaft;
       font-size: 1.5em;
       line-height: 2em;
     }

     .white {
       .white;
     }

  }

  .footer-row-2 {
     padding: 16em 0 0 10em;
     width: 33%;

     h3 {
       color: white;
       font-size: 3em;
       padding-bottom: 0.5em;
     }

     .agency {
       color: white;
       font-size: 1.3em;
       font-weight: 500;
       margin-bottom: 6em;
     }

     p {
       color: @mine-shaft;
       font-size: 1.5em;
       line-height: 2em;
     }

     .white {
       .white;
     }

  }

  .footer-row-3 {
     padding: 16em 0 0 10em;
     width: 33%;

     h3 {
       color: white;
       font-size: 3em;
       padding-bottom: 0.5em;
     }

     .agency {
       color: white;
       font-size: 1.3em;
       font-weight: 500;
       margin-bottom: 6em;
     }

     p {
       color: @mine-shaft;
       font-size: 1.5em;
       line-height: 2em;
     }

     .white {
       .white;
     }

  }
}


// LOWER FOOTER:
.lower-footer {
  background-color: @footer-bg;
  width: 100%;
  overflow: hidden;
  height: auto;

  .above-footer-left {
    width: 50%;
    padding: 9em 10em 0 18em;
  }

  .above-footer-right {
    width: 50%;
    padding: 9em 20em 0 2em;
  }

  .white {
    .white;
  }

  p {
    color: @mine-shaft;
    font-size: 1.5em;
    line-height: 2em;
  }
}


// COPYRIGHT:
.copyright {
  width: 100%;
  height: auto;
  background-color: @footer-bg;
  overflow: hidden;

  .copy-data {
    color: @mine-shaft;
    font-size: 1.5em;
    margin-top: 5em;
    padding: 0 0 3em 12em;
  }

  .imprint-policy  {
    color: @mine-shaft;
    font-size: 1.5em;
    margin-top: 5em;
    padding: 0 0 3em 4em;
  }

  .imprint-policy p {
    float: left;
    margin-left: 4em;
  }

  .social-icons {
    color: #ffffff;
    font-size: 1.5em;
    margin-top: 5em;
    padding: 0 0 3em 3em;
  }

  .social-icons i {
    margin-left: 3em;
  }

}
