// Apply to all elements:
* {
  padding: 0;
  margin: 0;
}

// Color Variables:
@main-font-grey: #8e8e8e;
@darkest-font-color: #101010;
@lavender-bg: #e4e9f8;
@yellow-bg: #faf8d9;
@project-request-bg: #c5c2f0;
@our-services-bg: #dbdbdb;
@footer-bg: #101010;

// Font Variables:
@main-font: 'Open Sans', sans-serif;
@main-font-size: 100%;

// Page Dimensions Variables:
@container-width: 80%;

// Page Body Styles:
body {
  font-family: @main-font;
  font-size: @main-font-size;
}
